<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWIhsOZtjBak8Cffo2m48928tEu4SbIig</string>
	<key>GCM_SENDER_ID</key>
	<string>399802983065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damienbabington.UberCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>ubercloneswiftui-f6f20</string>
	<key>STORAGE_BUCKET</key>
	<string>ubercloneswiftui-f6f20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399802983065:ios:81bf2e3ccf7537af0a8e08</string>
</dict>
</plist>